@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-pt-24;
  }

  body {
    @apply bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark transition-colors duration-200 min-h-screen flex flex-col;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-10px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

details[open] summary~* {
  animation: sweep .3s ease-in-out;
}